{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
{% if title is defined or message is defined %}
  <div
    class="alert alert-{% if alertStatus is defined and alertStatus is not empty %}{{ alertStatus }}{% else %}info{% endif %} {% if hidden is defined and hidden %}hidden{% endif %}"
    {% if id is defined and id is not empty %}id="{{ id }}"{% endif %}
  >
    <div class="alert__infos">
      {% if title is defined and title is not empty %}
        <p class="alert__title">{{ title }}</p>
      {% endif %}

      {% if message is defined and message is not empty %}
        <p class="alert__message">{{ message|raw }}</p>
      {% endif %}
    </div>

    {% if buttonLabel is defined and buttonLabel is not empty %}
      {% if formRoute is defined and formRoute is not empty %}
        {% include '@ModuleAutoUpgrade/components/alert-action-form.html.twig' %}
      {% else %}
        {% include '@ModuleAutoUpgrade/components/alert-action-link.html.twig' %}
      {% endif %}
    {% endif %}
  </div>
{% endif %}
