<form
  id="submit-error-report"
  name="submit-error-report"
  data-route-to-submit="{{ submit_error_report_route }}"
>
  <button class="btn btn-lg btn-default" type="submit">
    <i class="material-icons">send</i>
    {{ 'Send error report'|trans({}) }}
  </button>
</form>
