{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
<template id="log-line">
  <div class="logs__line">
    <div class="logs__line-content"></div>
  </div>
</template>

<template id="log-summary">
  <div class="logs__summary">
    <div class="logs__summary-top">
      <p data-slot-template="title" class="logs__summary-title h3"></p>
      <span data-slot-template="count" class="logs__summary-total badge badge-danger"></span>
    </div>
    <div class="logs__summary-scroll" tabindex="0"></div>
  </div>
</template>

<template id="summary-warning-title">{{ "Warning summary"|trans({}) }}</template>
<template id="summary-error-title">{{ "Error summary"|trans({}) }}</template>

<template id="summary-warning-link">
  <a class="logs__summary-anchor link">{{ "See warning"|trans({}) }}</a>
</template>
<template id="summary-error-link">
  <a class="logs__summary-anchor link">{{ "See error"|trans({}) }}</a>
</template>
