{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
<div data-component="logs-viewer" class="logs__inner">
  <form id="form-logs-download-button" data-download-logs-route="{{ downloadLogsRoute }}" hidden>
    <input type="hidden" name="download-logs-type" value="{{ downloadLogsType }}" />
  </form>
  <div class="logs__scroll">
    <div data-slot-component="scroll" tabindex="0" class="logs__scroll-inner">
      <div data-slot-component="list" class="logs__list"></div>
    </div>
  </div>
  <div data-slot-component="summary" class="logs__summaries"></div>
  <div id="{{ download_logs_parent_id }}"></div>
  <pre id="log-additional-contents" class="hidden"></pre>
</div>
