{#**
 * Copyright since 2007 PrestaShop SA and Contributors
 * PrestaShop is an International Registered Trademark & Property of PrestaShop SA
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License version 3.0
 * that is bundled with this package in the file LICENSE.md.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * @author    PrestaShop SA and Contributors <contact@prestashop.com>
 * @copyright Since 2007 PrestaShop SA and Contributors
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License version 3.0
 *#}
{% extends "@ModuleAutoUpgrade/layouts/step-content.html.twig" %}

{% block page_class %}update-page{% endblock %}

{% block title %}
  <h2>{{ step.title }}</h2>
{% endblock %}

{% block content %}
  {% include "@ModuleAutoUpgrade/components/alert.html.twig" with {
    id: 'error-alert',
    hidden: true,
    alertStatus: backup_available ? 'warning' : 'danger',
    title: 'Update failed'|trans({}),
    message: backup_available
    ? 'Your store may not work properly anymore. Select the backup you want to use and restore it to avoid any data loss.'|trans({})
    : 'You didn’t back up your store with the Update assistant module but you can restore using your own manual backup.'|trans({}),
    buttonLabel: backup_available ? 'Restore'|trans({}) : null,
    formRoute: backup_available ? restore_route : null,
    formName: 'restore-alert',
  } %}
  {% include "@ModuleAutoUpgrade/components/progress-tracker.html.twig" with {
    successRoute: success_route,
    downloadLogsRoute: download_logs_route,
    downloadLogsType: download_logs_type,
  } %}
{% endblock %}

{% block buttons %}
  <div class="page__buttons hidden" id="error-buttons">
    {% include "@ModuleAutoUpgrade/components/form-open-error-report.html.twig" %}

    {% if backup_available %}
      <form
        id="restore-button"
        name="restore-button"
        data-route-to-submit="{{ restore_route }}"
      >
        <button class="btn btn-lg btn-primary" type="submit">
          <i class="material-icons">settings_backup_restore</i>
          {{ 'Restore'|trans({}) }}
        </button>
      </form>
    {% endif %}
  </div>
{% endblock %}
